body{
    margin: 0;
    background-color: rgb(13, 17, 23);
}

.title_site{
    color: white;
    margin: 2% 45% 2% 45%;
}

.container{
    margin: 0% 20% 20% 20%;
    /*  */
    height: 80%;
    width: 60%;
    background-color: rgb(33, 38, 45);
    
}

.label_form{
    display: block;
    margin: 5% 40% 10% 40%;
    text-align: center;
    border-style: none;
    background: none;
    color: white;
    padding: 1rem;
}

.btn_form{
    display: block;
    margin: 10% 47.5% 10% 47.5%;
    background-color: green;
    color: white;
    border-style: none;
    border-radius: 11%;
    width: 10%;
    padding: 1%;
    
}

.btn_form:hover{
    background-color: rgb(8, 220, 8);
    animation-duration: 800ms;
    width: 11%;
    padding: 2%;
    font-size: 90%;
}

